<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BookHeaven</title>
</head>

<body>

<footer class="footer bg-custom-color rounded-0" style="background-color: #04030394" th:fragment="footer">
    <div class="text-center">
        <div class="h5 text-white">
            &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2024</span> Ralitsa Stancheva - Spring Project. All rights reserved.
        </div>
    </div>
</footer>

</body>

</html>