.book-item {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}

.book-item img {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
}

.book-title {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.remove-book-btn {
    background-color: #178854;
    border: 1px;
    border-radius: 6px;
    color: white;
    height: 38px;
    width: 115px;
    margin-top: 16px;
}

.remove-book-btn:hover {
    background-color: white;
    color:#178854;
    border: 1px solid #178854;
}

.close {
    border: none;
    background-color: white;
}