body{
    font-family: Georgia, serif;
    /*background-color: rgba(253, 241, 197, 0.54);*/
    /*background-color: white;*/

    background-image: linear-gradient(16deg, rgba(116,116,116, 0.1) 0%, rgba(116,116,116, 0.1) 25%,transparent 25%, transparent 96%,rgba(177,177,177, 0.36) 96%, rgba(177,177,177, 0.36) 100%),linear-gradient(236deg, rgba(148,148,148, 0.06) 0%, rgba(148,148,148, 0.06) 53%,transparent 53%, transparent 59%,rgba(56,56,56, 0) 59%, rgba(56,56,56, 0) 100%),linear-gradient(284deg, rgba(16, 16, 16,0.02) 0%, rgba(16, 16, 16,0.02) 46%,transparent 46%, transparent 71%,rgba(181, 181, 181,0.02) 71%, rgba(181, 181, 181,0.02) 100%),linear-gradient(316deg, rgba(197,197,197, 0.1) 0%, rgba(197,197,197, 0.1) 26%,transparent 26%, transparent 49%,rgba(58, 58, 58,0.02) 49%, rgba(58, 58, 58,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.navbar {
    /*height: 50px;*/
    height: 60px;
}


/*FOOTER*/
.bg-custom-color{
    background-color: #04030394;
    /*background-color: #6b3217ad;*/
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 14px;
    text-align: center;
}


.search-form {
    height: 30px;
    display: flex;
    border: 2px #ccc;
    border-radius: 50px;
    overflow: hidden;
    width: 600px;
    /*margin-left: 250px;*/
    margin-left: 0px;
    margin-top: 4px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.search-button {
    background-color: white;
    color: grey;
    border: none;
    padding: 2px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.search-button:hover {
   color: rgba(49, 86, 108, 0.87);
    font-size: 110%
}

.search-dropdown{
    background-color: white;
    color: grey;
    margin-top: 0px;
    border-radius: 50px;

}

#dropdown-item-search{
    margin-top: 40px;
}

.nav-link{
    position: relative;
    margin-left:27px;
    margin-top: -5px;

}


.nav-item{
    margin-left: 27px;
}


.navbar-brand{
    margin-left: 63px;
    margin-right: 223px;
}

.login-text {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/* MODAL WINDOW - index.html */
.modal-title {
    padding-top: 20px;
}

.close-button{
    border: none;
    background-color: white;
}

.rating-container{
    text-align: center;
}

.btn-secondary{
    border-radius: 4px;
}



/* BOOKS INFORMATION - book-details.html */
.container {
    display: flex;
}

.book-img img {
    width: 250px;
    height: auto;
    padding-top: 50px;
    margin-bottom: 20px
}


.book-info {
    flex: 1;
    padding-top: 50px
}


.book-description{
    line-height: 2;
    margin-top: 32px;
}


/* BOOK CARDS - index.html*/

.card {
    height: 95%;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

.container{
    margin-top: 50px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 50px auto;
    max-width: 1000px;
}

.categories-btn{
    border: 1px solid #be501e;
    color: black;
    border-radius: 100px;
    width: 120px;
    height: 40px;
    background-color: white;

}

.categories-btn:hover{
    background-color: rgba(252, 134, 77, 0.28);
    color: black;
    border: none;
}


/* -WANT-TO-READ BUTTON - book-details.html */
.btn-readed-book,
.btn-for-reading,
.btn-see-more-info{
    display: inline-block;
    width: 110px;
    height: 30px;
    font-size: 13px;
    background-color: rgba(49, 86, 108, 0.87);
    color: white;

    border: 1px solid;
    border-radius: 20px;
    border-color: rgba(211, 211, 211, 0.07);
    margin-left: 7px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.btn-readed-book:hover,
.btn-for-reading:hover,
.btn-see-more-info:hover{
    border-color: rgba(49, 86, 108, 0.87);
    background-color: white;
    color: rgba(49, 86, 108, 0.87);;
}

.book-readed-or-for-reading {
    display: flex;
    margin-right: 5px;
}


.btn-readed-book a,
.btn-for-reading a,
.btn-see-more-info a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}



/*BOOK DETAILS PAGE*/
.book-info-container {
    display: flex;
    height: 620px;

}


.book-info{
    text-align: justify;
    width: 30%;
    margin-left: 100px;
    margin-right: 100px;
}


.admin-actions-container{
    position: absolute;
    right: 40px;
    top: 100px;
}

.change-information-modal,
.delete-information-modal{
    display: inline-block;
    padding: 2px;
    margin-left: 10px
}

.rate-button, .rate-button-logged {
    text-decoration: none;
    color: rgba(49, 86, 108, 0.87);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.rate-button svg, .rate-button-logged svg {
    fill: rgba(49, 86, 108, 0.87);
    margin-right: 5px;
}


.rate-button:hover, .rate-button-logged:hover {
    color: rgba(49, 86, 108, 0.87);
}


.rate-button svg:hover, .rate-button-logged svg:hover {
    fill: rgba(49, 86, 108, 0.87);
}


.rate-button-logged{
    background-color: transparent;
    border: none;
}


.comments h3{
    margin-top: 38px;
}

.text-area-comments{
    border-radius: 5px;
}

.comment-send-btn{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-top: 10px;
    margin-bottom: 60px;
}

.comment-send-btn:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.rate-button,
.rate-button-logged{
    margin-top: 20px;
    margin-left: 84px;
    margin-bottom: 12px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#rating-form,
#delete-rating-form {
    display: inline-block;
    margin-left: 76px;
}

#rating-form .button-container {
    display: inline-block;
    margin-left: 10px;
}

#delete-rating-form .delete-rating-btn {
    margin-left: 10px;
}

.modal-rate-btn,
.delete-rating-btn {
    display: inline-block;
    vertical-align: middle;
}

.delete-rating-btn{
    margin-top: -57px;
    margin-left: 112px;
    background-color: white;
    border: none;
    color: rgb(49, 86, 108);
    font-size: 16px;

}

.modal-rate-btn{
    margin-top: 77px;
    margin-left: -137px;
    background-color: white;
    border: none;
    color: rgb(49, 86, 108);
    font-size: 16px;
}


.delete-comment-btn {
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.4929px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}


.delete-comment-btn:active,
.delete-comment-btn:hover,
.delete-comment-btn:focus {
    outline: 0;
}


.delete-comment-btn:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.delete-comment-btn:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
}

.delete-comment-btn:active:hover,
.delete-comment-btn:focus:hover,
.delete-comment-btn:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

