body{
    font-family: Georgia, serif;
}
.navbar {
    height: 50px;
}


/*FOOTER*/
.bg-custom-color{
    background-color: #c26236;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 14px;
    text-align: center;
}


.search-form {
    height: 30px;
    display: flex;
    border: 2px #ccc;
    border-radius: 50px;
    overflow: hidden;
    width: 600px;
    margin-left: 250px;
    margin-top: 4px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.search-button {
    background-color: white;
    color: grey;
    border: none;
    padding: 0px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.search-button:hover {
    background-color: rgba(211, 211, 211, 0.94)
}


.nav-link{
    position: relative;
    margin-left:27px;
}


.nav-item{
    margin-left: 27px;
}


.navbar-brand{
    margin-left: 45px;
}

.login-text {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/* MODAL WINDOW - index.html */
.modal-title {
    padding-top: 20px;
}

.close-button{
    border: none;
    background-color: white;
}

.rating-container{
    text-align: center;
}

.btn-secondary{
    border-radius: 4px;
}



/* BOOKS INFORMATION - book-details.html */
.container {
    display: flex;
}

.book-img img {
    width: 250px;
    height: auto;
    padding-top: 50px;
    margin-bottom: 20px
}


.book-info {
    flex: 1;
    padding-top: 50px
}



/* BOOK CARDS - index.html*/

.card {
    height: 95%;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

.container{
    margin-top: 50px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 50px auto;
    max-width: 1000px;
}

.categories-btn{
    border: 1px solid rgb(148, 147, 147);
    color:rgb(148, 147, 147);
    border-radius: 100px;
    width: 120px;
    height: 40px;
    background-color: white;

}

.categories-btn:hover{
    background-color: rgba(252, 134, 77, 0.28);
    color: black;
    border: none;
}


/* -WANT-TO-READ BUTTON - book-details.html */
.btn-readed-book,
.btn-for-reading,
.btn-see-more-info{
    display: inline-block;
    width: 110px;
    height: 30px;
    font-size: 13px;
    background-color: rgba(49, 86, 108, 0.87);
    color: white;

    border: 1px solid;
    border-radius: 20px;
    border-color: rgba(211, 211, 211, 0.07);
    margin-left: 7px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.btn-readed-book:hover,
.btn-for-reading:hover,
.btn-see-more-info:hover{
    border-color: rgba(49, 86, 108, 0.87);
    background-color: white;
    color: rgba(49, 86, 108, 0.87);;
}

.book-readed-or-for-reading {
    display: flex;
    margin-right: 5px;
}


.btn-readed-book a,
.btn-for-reading a,
.btn-see-more-info a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}



/*BOOK DETAILS PAGE*/
.book-info-container {
    display: flex;
    height: 620px;

}


.book-info{
    text-align: justify;
    width: 30%;
    margin-left: 100px;
    margin-right: 100px;
}


.admin-actions-container{
    position: absolute;
    right: 40px;
    top: 100px;
}

.change-information-modal,
.delete-information-modal{
    display: inline-block;
    padding: 2px;
    margin-left: 10px
}

.rate-button, .rate-button-logged {
    text-decoration: none;
    color: rgba(49, 86, 108, 0.87);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;


}

.rate-button svg, .rate-button-logged svg {
    fill: rgba(49, 86, 108, 0.87);
    margin-right: 5px;
}

.rate-button:hover, .rate-button-logged:hover {
    color: rgba(49, 86, 108, 0.87);
}

.rate-button svg:hover, .rate-button-logged svg:hover {
    fill: rgba(49, 86, 108, 0.87);
}

.rate-button-logged{
    background-color: white;
    border: none;
}



/*LOGIN PAGE - auth-login.html*/
