<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
  <title>Add Category</title>
</head>
<body>
<div th:replace="~{fragments/admin-navigation :: admin-navigation}"></div>


<form class="add-form-category-container" th:action="@{'/category/add'}" method="post">
  <h1>Add Category</h1>

  <label class="field" for="name">Name:</label><br>
  <input class="input-field" type="text" id="name" name="name" required><br>

  <button class="add-form-send-btn" type="submit">Add</button>
</form>

<div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
  <p th:text="${errorMessage}">Error</p>
</div>

</body>
</html>