<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>Add News</title>
</head>
<body>
<div th:replace="~{fragments/admin-navigation :: admin-navigation}"></div>

<h1>Add News</h1>
<form th:action="@{'/news/add'}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="shortDescription">Short Description:</label><br>
    <textarea id="shortDescription" name="shortDescription" required></textarea><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br>

    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" required><br>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" required><br>

    <input type="submit" value="Add">
</form>
</body>
</html>