<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
  <title>Forgot Password</title>
</head>
<body>

<div>
  <nav th:replace="~{fragments/navigation :: navigation}"></nav>
</div>

<div class="forgot-pass-container">
  <h2 class="text-center text-black mt-3 mb-4">Forgot Password</h2>
    <form th:action="@{/users/reset-password}" method="post">
      <div class="form-group">
        <input class="forgot-pass-email" type="email" id="email" name="email" placeholder="Email">
      </div>
      <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <input type="submit" class="submit-btn" value="Send"/>
        </div>
      </div>


</form>

</div>
</body>
</html>