<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
    <title>News</title>
</head>
<body>

<div th:if="${@currentUser.isLogged() and @currentUser.isAdmin()}">
    <div th:replace="~{fragments/admin-navigation :: admin-navigation}"></div>
</div>
<div th:unless="${@currentUser.isLogged() and @currentUser.isAdmin()}">
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</div>

<div class="news">
    <div class="news-container">

        <div class="news-card" th:each="n : ${allNews}">

            <img th:src="@{'/uploads/' + ${n.image}}"/>

            <div class="card-body">
                <div class="card-text">
                    <h5 th:text="${n.title}"></h5>
                    <p th:text="${n.date}"></p>
                </div>
                <a th:href="@{'/news/' + ${n.id}}" class="news-more-btn">More...</a>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid"></div>
<div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>